<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://omniscode.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>omniscode.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>omniscode</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$omniscode</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="WebApi2BookDb" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:ytxrs26rd3.database.windows.net,1433;Initial Catalog=WebApi2BookDb;Integrated Security=False;User ID=VICTOR-PC@ytxrs26rd3;Password=vfd4pVcf;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=VICTOR-PC\SQLEXPRESS;Initial Catalog=WebApi2BookDb;Integrated Security=True;Application Name=&quot;WebApi2Book API Website&quot;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WebApi2BookDb_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=VICTOR-PC\SQLEXPRESS;initial catalog=WebApi2BookDb;Integrated Security=True;Application Name=WebApi2Book API Website" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WebApi2BookDb-Web.config Connection String">
      <ParameterValue>Data Source=tcp:ytxrs26rd3.database.windows.net,1433;Initial Catalog=WebApi2BookDb;Integrated Security=False;User ID=VICTOR-PC@ytxrs26rd3;Password=vfd4pVcf;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>